@font-face {
    font-family: 'Outfit';
    src: url(/static/Outfit-Regular.woff2);
}

h3{
    font-weight: 700; 
    font-family: Outfit;
    color:  hsl(218, 44%, 22%);
    text-align: center;
    font-size: 1.6rem;
    margin: 10px;
}


p{
    font-weight: 400;
    font-family: Outfit;
    color: hsl(220, 15%, 55%);
    font-size: 0.9375rem;
    padding-inline: 2rem;
 }  


.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  

.content {
    text-align: center; 
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 20rem;
    
  }

  .QR-CODE{
    border-radius: 1rem;
    max-width: 20rem; 
}

body{
    background: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution{
    text-align: center;
    font-weight: 400;
    font-family: Outfit;
    color: hsl(220, 15%, 55%);
    font-size: 0.625rem;
    padding-inline: 1rem;
    margin: 1rem;
} 



